@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

 h2 {
  padding-bottom: 20px;
  padding-top: 20px;
 }

 img {
  max-height: 300px;
  max-width: 500px;
  display: inline-block;
}

div.text{
  display: inline-block;
}

