@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

 h2 {
  padding-bottom: 20px;
  padding-top: 20px;
 }

 img {
  max-height: 300px;
  max-width: 500px;
  display: inline-block;
}
<<<<<<< HEAD

div.text{
  display: inline-block;
}

=======

div.text{
  display: inline-block;
}


>>>>>>> 34529e444b97f521b4b10957d98ab8bad7623a86
