@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.search .results {
  .wrapper {
    .make-row();

    .filter {
      .make-xs-column(3);
    }

    .info {
      .make-xs-column(9);

      table {
        table-layout: fixed;
        overflow: hidden;

        tbody {
          word-wrap: break-word;
        }
      }
    }
  }
}
