@import "../../../styles/variables.less";

@banner-height: 480px;

.splash {
  margin-top: -130px;

  > .banner {
    position: relative;
    width: 100%;
    height: @banner-height;
    background: transparent url(images/banners/splash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    > .text-overlay {
      position: absolute;
      top: 140px;
      right: 50%;
      bottom: 0;
      left: 0;
      color: @gray-dark;

      > h1,
      > p,
      > a {
        margin-left: 50px;
      }

      > h1,
      > p {
        margin-top: 50px;
      }

      > h1 {
        margin-bottom: 30px;
        font-weight: 300;
        color: @brand-primary;
      }

      > p {
        margin: 0 0 25px 50px;
        font-size: 1.6rem;
        font-weight: 300;
      }

      > a {
        font-size: 1.6rem;
      }
    }
  }
}
