@import "../../../styles/variables.less";

@banner-height: 480px;

.splash {
  margin-top: -140px;

  .banner {
    width: 100%;
    height: @banner-height;

    background: url(/images/banners/splash.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .sub-banner {
    text-align: center;
    background-color: rgb(237, 237, 237);

    h1 {
      padding: 30px 60px;
      margin: 0;
      font-weight: 300;
      color: @link-color;
    }

    p {
      padding: 0 60px 30px 60px;
      margin: 0;
      font-size: 1.3em;
      font-weight: 300;

      strong {
        font-weight: 500;
      }
    }
  }
}
