@import "../../../styles/variables.less";

// Re-style Bootstrap Popovers
.popover {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

  .arrow {
    border: none;

    &::after {
      border-width: 6px;
    }
  }

  &.top .arrow {
    bottom: -7px;
  }

  &.right .arrow {
    left: -7px;
  }

  &.bottom .arrow {
    top: -7px;
    left: 100%;
  }

  &.left .arrow {
    right: -7px;
  }
}
