bower_components/
node_modules/
dist/

test/index.html

nginx.error.log
nginx.pid

test/selenium/python/.idea/
test/selenium/python/properties.ini


pyramid.log

# Log files from gulp nginx:start 
/logs/
