@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-footer {
  margin: 0 60px 60px 60px;

  > ul {
    margin: 0 0 40px 0;
    padding: 0 0 0 30px;
    font-size: 0;
    list-style-type: none;
    color: @link-color;
    border-bottom: 1px solid @gray-light;

    > li {
      display: inline-block;
      padding: 7px 10px;
      margin-right: 3px;
      font-size: 1.4rem;
      background-color: @gray-lightest;
      cursor: pointer;
      .user-select(none);

      > .tab-title {
        margin-left: 2px;
        vertical-align: middle;

        &::after {
          font-weight: bold;
          margin-left: 5px;
          vertical-align: top;
          content: "+";
        }
      }

      &.active {
        color: @gray-lightest;
        background-color: @link-color;

        > .tab-title::after {
          content: "\2212"; // &minus; (−)
        }
      }
    }
  }

  > div {
    display: none;
    padding-bottom: 40px;
    margin-bottom: 40px;
    background-color: white;
    border-bottom: 1px solid @gray-light;
  }

  > .license, > .last-edit {
    display: block;
    font-size: 1.2rem;
    color: @gray-medium;
  }
}
