@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-footer {
  margin: 4rem 6rem 6rem 6rem;

  h2 {
    margin-bottom: 2rem;
    font-weight: 300;
  }

  > ul {
    margin: 0 0 3rem 0;
    padding: 0 0 0 3rem;
    border-bottom: 0.1rem solid @gray-light;
    color: @link-color;
    font-size: 0;
    list-style-type: none;

    > li {
      display: inline-block;
      margin-top: 0.3rem;
      margin-right: 0.3rem;
      padding: 0.7rem 1rem;
      background-color: @gray-lightest;
      font-size: 1.4rem;
      cursor: pointer;
      .user-select(none);

      > .tab-title {
        margin-left: 0.2rem;
        vertical-align: middle;

        &::after {
          margin-left: 0.5rem;
          font-weight: bold;
          content: "+";
          vertical-align: top;
        }
      }

      &:focus {
        outline: 1px;
        outline-style: solid;
      }

      &.active,
      &.active > button {
        background-color: @link-color;
        color: @gray-lightest;

        > .tab-title::after {
          content: "\2212"; // &minus; (−)
        }
      }

      &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.65;
      }
    }
  }

  > .tab-content {
    display: none;
    margin-bottom: 4rem;
    padding-bottom: 4rem;
    border-bottom: 0.1rem solid @gray-light;
    background-color: white;
  }

  .book-page-toggle {
    position: absolute;
    top: 0;
    right: 0;

    .btn {
      border: 0.1rem solid @gray-lightest;
      background-color: white;
      color: black;
      &:focus {
        border-color: lightblue;
      }
    }

    .active {
      border: 0.1rem solid transparent;
      background-color: @gray-lightest;
      color: black;
    }
  }
}
