@import "../../../styles/variables.less";
@import "@{dependencyDir}/bootstrap/less/mixins.less"; // Bootstrap Mixins

@sidebar-width: 315px;
@fudge: 7px;
@transition-style: 0.2s ease-in-out;
@nav-height: 4.9rem;
@progress-height: 0.9rem;
@button-width: 8rem;
@searchbar-margin: 3px;

div.testing-side{
  position: fixed;
  margin-top: 0pt;
}

select.font-selector{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  background-color: @brand-primary;
  border: solid 2px @brand-primary;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 6rem;
  color: white;
  margin-left: 3px;
}

textarea {
  font-size: 12pt;
  &.size10{
    font-size: 10pt;
  }
  &.size12{
    font-size: 12pt;
  }
  &.size14{
    font-size: 14pt;
  }
  &.size16{
    font-size: 16pt;
  }
  &.size18{
    font-size: 18pt;
  }
  &.size20{
    font-size: 20pt;
  }
  resize:vertical;
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

.save.btn{
  background-color: @brand-primary;
  color: white;
  border: solid 2px @brand-primary;
  width: @button-width;
  margin: @searchbar-margin;
  margin-top: -3px;
  .text {
    margin: 0 6px;
  }
  &.displayed{
    display: initial;
  }
  &:focus {
    box-shadow: 0 0 3px 2px lightblue;
  }
}

.tips.btn{
  background-color: @brand-primary;
  color: white;
  border: solid 2px @brand-primary;
  width: @button-width;
  margin: @searchbar-margin;
  margin-top: 2px;
  .text {
    margin: 0 6px;
  }
  &.displayed{
    display: initial;
  }
  &:focus {
    box-shadow: 0 0 3px 2px lightblue;
  }
}

.export.btn{
  color: white;
  border: solid 2px @brand-primary;
  width: 9rem;
  margin: @searchbar-margin;
  margin-top: -3px;
  .text {
    margin: 0 6px;
  }
  &:focus {
    box-shadow: 0 0 3px 2px lightblue;
  }
}

.fullsize-container {
  > .sidebar {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    visibility: hidden;
    .transition(~"width" @transition-style);

    > div {
      overflow-y: hidden;
      .transition(~"margin-left" @transition-style);
      // Use a negative margin to slide child element out of sight,
      // regardless of `position` property.
      // i.e. The toc has position fixed or static depending on whether it's pinned.
      margin-left: -@sidebar-width;
    }
  }
  > .main {
    .transition(~"width" @transition-style);
    width: ~"calc(100% -" @fudge ~")";
    display: inline-block;
  }
  &.sidebar-open {
    > .sidebar {
      width: @sidebar-width;
      height: 100%;
      visibility: visible;

      > div {
        overflow-y: auto;
        margin-left: 0;
        border-right: 1px solid @gray-light;
      }
    }
    > .main {
      width: ~"calc(100% -" @sidebar-width + @fudge ~")";
      @media (max-width: 640px) {
        visibility:hidden;
      }
    }
  }
}
