@import "../../../styles/variables.less";
@import "@{dependencyDir}/bootstrap/less/mixins.less"; // Bootstrap Mixins

@sidebar-width: 315px;
@fudge: 7px;
@transition-style: 0.2s ease-in-out;

.fullsize-container {
  > .sidebar {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    visibility: hidden;
    .transition(~"width" @transition-style);

    > div {
      overflow-y: hidden;
      .transition(~"margin-left" @transition-style);
      // Use a negative margin to slide child element out of sight,
      // regardless of `position` property.
      // i.e. The toc has position fixed or static depending on whether it's pinned.
      margin-left: -@sidebar-width;
    }
  }
  > .main {
    .transition(~"width" @transition-style);
    width: ~"calc(100% -" @fudge ~")";
    display: inline-block;
  }
  &.sidebar-open {
    > .sidebar {
      width: @sidebar-width;
      height: 100%;
      visibility: visible;

      > div {
        overflow-y: auto;
        margin-left: 0;
        border-right: 1px solid @gray-light;
      }
    }
    > .main {
      width: ~"calc(100% -" @sidebar-width + @fudge ~")";
      @media (max-width: 640px) {
        visibility:hidden;
      }
    }
  }
}
