@import "../../../styles/variables.less";

.info-page {
  margin-bottom: 40px;
  
  h1, h2 {
    margin-bottom: 30px;
  }
  
  h3, h4 {
    margin-bottom: 15px;
  }
  
  > .info-nav {
    li {
      background-color: @gray-lighter;
    }
    li.active {
      background-color: @gray-lightest;
    }
    li a:hover {
      background-color: @gray-lightest;
    }
  } 
}
