@import "../../../styles/variables.less";

.info-nav {
  li {
    background-color: @gray-lighter;
  }
  li.active {
    background-color: @gray-lightest;
  }
  li a:hover {
    background-color: @gray-lightest;
  }
}
