@import "../../../styles/variables.less";

.page-footer {
    .make-row();
    padding: 20px;
    margin: 0 !important; // where is margin: 0 -15px; coming from?
    text-align: center;
    background-color: @gray-dark;
    color: @link-color-light;
    font-size: 0.85em;

    a {
        color: @link-color-light;
    }

    .copyright {
        .make-column(8);
        text-align: left;

        > div {
            padding: 5px 0;
            margin: 0;
        }

        img {
            float: left;
            margin-right: 10px;
        }

        .horizontal {
            display: inline-block;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                padding-right: 5px;
                border-right: 1px solid @link-active-color;
            }

            li:last-child {
                border-right: none;
            }
        }

        /* Make the OER logo look like a button */
        .oer {
            background-color: white;
            border-radius: 4px;
        }
    }

    .connect, .share {
        .make-column(2);

        header {
            font-size: 1.4em;
            margin-bottom: 7px;
        }

        ul {
             list-style-type: none;
             padding: 0;

             li {
                 margin-bottom: 2px;
             }
        }
    }

    .connect {
        @media (min-width: @screen-small) {
            border-left: 1px solid @link-active-color;
            border-right: 1px solid @link-active-color;
        }
    }

    .share {
        ul {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            justify-content: center;
            max-width: 75px;
            margin: 0 auto;

            li {
                -webkit-flex: 1 0 auto;
                flex: 1 0 auto;
                margin: 3px 0;
            }
        }
    }
}
