@import "../../../styles/variables.less";

.workspace {
  position: relative;
  margin-bottom: 30px;

  > .new {
    position: absolute;
    top: 1.2rem;
    right: 0;

    > .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}
