@import "../../../styles/variables.less";

.info-nav {
  li {
    background-color: @gray-lighter;
  }
  li.active {
    background-color: @gray-lightest;
  }
  li a:hover {
    background-color: @gray-lightest;
  }
}

.avatar-showcase {
  .person {
    width: 200px;
    height: 210px;
    margin: 4px;
    float: left;
    background-color: darken(@gray-medium, 10%);
    .name {
      float: left;
      padding: 2px 0 0 10px;
      color: #fff;
      text-transform: uppercase;
    }
    .title {
      display: block;
      clear: left;
      color: rgb(255, 160, 0);
      font-size: smaller;
      text-transform: lowercase;
      padding: 4px 0 0 14px;
    }
  }
}