@import "../../../styles/variables.less";

.info-nav {
  li {
    background-color: @gray-lighter;
  }
  li.active {
    background-color: @gray-lightest;
  }
  li a:hover {
    background-color: @gray-lightest;
  }
}

.bio-window {
    display: none;
}


      /* <style type="text/css"> */
      /*   .foundation_desc { */
      /*   vertical-align: middle; */
      /*   height: 50px; */
      /*   padding: 15px 0 15px 50px; */
      /*   } */
      /*   .foundation_logo { */
      /*   text-align: center; */
      /*   padding: 15px 0; */
      /*   } */
      /* </style> */
