@import "../../../../../styles/variables.less";

#publish-modal {
  .modal-dialog {
    width: 800px;

    .modal-body {
      max-height: 400px;
      overflow-y: scroll;

      .submitlog {
        margin-bottom: 15px;
      }

      .checkbox {
        margin-left: 35px;

        ul {
          max-width: 90%;
        }
      }
    }
  }
}
