@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-tabs .contents ul > li {
  padding: 8px 0;
  border-bottom: 1px solid @gray-lightest;

  &:last-child {
    border-bottom: none;
  }

  > div {
    display: inline-block; // Prevent links from spilling into multiple-columns

    .unit {
      display: inline-block;
      font-weight: bold;
    }
    
    .title {
      cursor: pointer;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
