#section-name-modal {
  label {
    display: block;
    margin: 0 auto;
    width: 100%;

    > span {
      margin-right: 1.5rem;
    }

    > input {
      display: inline-block;
      width: 65%;
    }

  }
}
