@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

@DEBUG-NOT-IMPLEMENTED: false;

@blue: @brand-primary;
@page-width: 75%;

// Default character that separates inline list items.
@default-inline-list-item-sep: ';';

// For content with labels we have not converted yet try to show
.x-not-implemented(@msg) when (@DEBUG-NOT-IMPLEMENTED) {
  content: '[' @msg ' NOT_IMPLEMENTED_YET' ']';
}

// Mark unimplemented custom labels
*[data-label]:not([data-label=""])::before {
  .x-not-implemented('data-label');
}


.media-body {
  margin: 0 60px;
  padding-top: 40px;
  counter-reset: figure;

  // Import the content styling from a separate file so it can be included in the editing code
  @import 'content.less';
}
