@import "../../../../styles/variables.less";

.info-block {
  padding: 40px;

  > h3 {
    padding-bottom: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 2.7rem;
    font-weight: 400;
    color: @link-color;
    border-bottom: 1px solid @gray-lighter;
  }

  > .more {
    float: right;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.7rem;

    > .arrow {
      margin-left: 3px;
    }
  }
}
