@import "../../../styles/variables.less";

.changed-remotely-alert {
  position: fixed;
  top: 0;
  z-index: 1031; // needs to be more than the toolbar
  width: @max-viewport-width;
}

@font-face {
 font-family: 'OpenDyslexic';
 src: local('OpenDyslexic'),
   url('/fonts/OpenDyslexic.eot') format('embedded-opentype'),
   url('/fonts/OpenDyslexic.woff2') format('woff2'),
   url('/fonts/OpenDyslexic.woff') format('woff'),
   url('/fonts/OpenDyslexic.ttf') format('truetype'),
   url('/fonts/OpenDyslexic.svg') format('svg');
}

#contents {
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
    overflow-y: hidden;
  }
}
// Hide the toolbar when the content changed remotely
// so it does not interfere with the `.changed-remotely-alert`
#contents.changed-remotely {
  .navbar-fixed-top { display: none; }
}
