@import "../../../../../../../../styles/variables.less";

#add-page-modal {
  .modal-dialog {
    width: 80rem;

    .modal-body {
      max-height: 40rem;
      overflow-y: scroll;
    }
  }

  label {
    display: block;
    margin: 0 auto;
    width: 90%;

    > span {
      margin-right: 1.5rem;
    }

    > input[type="text"] {
      display: inline-block;
      width: 83%;
    }

    > .help-block{
      width: 83%;
      text-align: left;
      margin-left: 5.4rem;
    }
  }

  .modal-footer{
    .help-block{
      display: inline-block;
      margin-right: 1.5rem;
    }
  }
}
