@import "../../../../../../../../styles/variables.less";

#add-page-modal {
  .modal-dialog {
    width: 800px;

    .modal-body {
      max-height: 400px;
      overflow-y: scroll;
    }
  }

  label {
    display: block;
    margin: 0 auto;
    width: 90%;

    > span {
      margin-right: 15px;
    }

    > input {
      display: inline-block;
      width: 83%;
    }
  }
}