/* Bootstrap */
@import "../../libs/bootstrap/less/bootstrap.less";

@import "../../../styles/variables.less";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: @title-color;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
}

h5 {
  font-size: 1.4rem;
  font-weight: bold;
}

.circle {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  overflow: hidden;
}

.primary {
  background-color: @brand-primary;
}

.secondary {
  background-color: @brand-secondary;
}

.highlight {
  background-color: @brand-highlight;
}

.social-button (@url: "images/social/mail.png") {
  font-size: 0;
  line-height: 2.4rem;
  background-image: url("/@{url}");
  background-repeat: no-repeat;
  background-position: center center;
}

.mail {
  .social-button();
}

.facebook {
  .social-button("images/social/facebook.png");
}

.twitter {
  .social-button("images/social/twitter.png");
  background-size: contain;
}

.google {
  .social-button("images/social/google.png");
  background-position: -0.1rem 0.5rem;
  background-size: 2.4rem 2.4rem;
}

.linkedin {
  .social-button("images/social/linkedin.png");
}

.pinterest {
  .social-button("images/social/pinterest.png");
}
