/* Bootstrap */
@import "../../libs/bootstrap/less/bootstrap.less";

@import "../../../styles/variables.less";

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-weight: normal;
  color: @title-color;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  color: @title-color;
}

h5 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: bold;
  color: @title-color;
}
