/* Bootstrap */
@import "../../libs/bootstrap/less/bootstrap.less";

@import "../../../styles/variables.less";

h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: normal;
    color: @title-color;
}