@import "../../../../../styles/variables.less";

.search .results .filter {
  padding: 15px;
  background-color: @gray-lightest;

  h3 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    font-weight: 400;
  }

  h5 {
    color: black;
  }

  ul {
    list-style-type: none;
  }

  .filters {
    padding: 0;

    > li {
      margin: 15px 0;
    }

    ul {
      padding-left: 15px;

      > .limit {
        margin: 5px 0;

        > .limit-name {
          display: inline-block;
          max-width: 160px;
          overflow-wrap: break-word;
        }

        > .count {
          float: right;
        }
      }

      .toggle {
        margin-top: 10px;
        padding-top: 5px;
        border-top: 1px solid @gray-light;
        color: @brand-primary;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

        .text {
          vertical-align: middle;

          &::before {
            margin-right: 5px;
            content: "\25b8";
          }
          
          &.less::before {
            content: "\25b4";
          }
        }
      }
    }
  }
}
