@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

#donate .donation-form {
  > h1 {
    margin-bottom: 3rem;
  }

  > form {
    @media (min-width: @screen-sm-min) {
      padding: 4.5rem 3rem;
      border-radius: 0.4rem;
      border: 0.1rem solid @gray-lighter;
    }

    label {
      display: block;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    button {
      @media screen and (max-width: @screen-xs-max) {
        width: 100%;
      }
    }
  }
}
