@import "./variables.less";

// Limit the site to a max width of 960px
html {
  max-width: 960px;
  margin: 0 auto;
}

//
// Headers
//

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: @title-color;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

h5 {
  font-size: 1.4rem;
  font-weight: bold;
}

a {
  color: @link-color;

  &:hover, &:focus {
    color: @link-hover-color;
  }

  &:active {
    color: @link-active-color;
  }
}

//
// Background colors
//

.primary {
  background-color: @brand-primary;
}

.secondary {
  background-color: @brand-secondary;
}

.highlight {
  background-color: @brand-highlight;
}
