@import "@{dependencyDir}/bootstrap/less/bootstrap.less"; // Bootstrap
@import "@{dependencyDir}/font-awesome/less/font-awesome.less"; // Font-Awesome
@import "./variables.less";
@import "./mixins-app.less";
@import "./aloha-hacks.less"; // Aloha Hacks

// Debugging: mark elements that have not been converted yet
// FIXME: remove this once all content is converted
.not-converted-yet {
  display: none;
}

// Limit the site to a max width of 960px
html {
  max-width: @max-viewport-width;
  margin: 0 auto;
}

body {
  overflow: visible !important; // Override Bootstrap Modal
}

//
// Headers
//

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: @title-color;
}

h1 {
  font-size: 3.5rem;
  font-weight: normal;
}

h2 {
  font-size: 3rem;
  font-weight: 300;
}

h3 {
  font-size: 2.1rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
}

h5 {
  font-size: 1.4rem;
  font-weight: bold;
}

[draggable="true"] {
  cursor: move;
}

//
// Description Lists
//

// Ensure Bootstrap styling applies everywhere, not just on small screens
.dl-horizontal {
  dt {
    float: left;
    width: (@component-offset-horizontal - 20);
    clear: left;
    text-align: right;
    .text-overflow();
  }
  dd {
    margin-left: @component-offset-horizontal;
    &:extend(.clearfix all); // Clear the floated `dt` if an empty `dd` is present
  }
}

//
// Background colors
//

.primary {
  background-color: @brand-primary;
}

.secondary {
  background-color: @brand-secondary;
}

.highlight {
  background-color: @brand-highlight;
}

//
// Buttons
//

.btn {
  .button-variant(white; @brand-secondary);
  border: 1px solid transparent;
}

.btn-plain {
  .button-variant(@gray-dark; white);
  border: 1px solid @gray-dark;
}

.btn-primary {
  .button-variant(white; @brand-primary);
  border: 1px solid transparent;
}

.circle {
  display: inline-block;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  overflow: hidden;
}

//
// Social buttons
//

.mail {
  .social-button();
}

.facebook {
  .social-button("images/social/facebook.png");
  background-size: 0.9rem 2rem;
}

.twitter {
  .social-button("images/social/twitter.png");
}

.google {
  .social-button("images/social/google.png");
  background-position: 0 0.5rem;
  background-size: 2.4rem 2.4rem;
}

.linkedin {
  .social-button("images/social/linkedin.png");
  background-size: 60%;
  background-position: 50% 45%;
}

.pinterest {
  .social-button("images/social/pinterest.png");
  background-size: 50%;
}

//
// Lists
//

.list-comma:not(:last-of-type)::after {
  content: ", ";
}

//
// TERP (iframes from Tutor containing conceptual quizzes)
//

iframe.terp {
  display: block;
  margin: 20px auto;
  border: 0;
}

//
// Zendesk
//

div#zenbox_tab.ZenboxTabRight {
  @media (max-width: @grid-float-breakpoint-max) {
    display: none !important; // override ZenDesk styling
  }

  display: block;
  height: 100px;
  width: 30px;
  line-height: 100px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  &::before {
    display: inline-block;
    height: 100px;
    line-height: 120px;
    color: white;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    .rotate(90deg);
    .user-select(none);
    content: "Ask Us";
  }

  > img {
    display: none;
  }
}

//
// Select2
//

.select2-drop-mask {
  z-index: 0 !important;
}

.select2-drop {
  z-index: 1 !important;
}

.select2-results > .select2-highlighted {
  background-color: @brand-primary !important;
}

.select2-container-multi > .select2-choices > .select2-search-choice {
  margin-top: 6px !important;
  border-radius: 4px !important;
}

@-moz-document url-prefix() {
select {
  -moz-appearance: none;
  background-image: url('src/images/icons/select-arrows.png') !important;
  background-repeat: no-repeat !important;
  background-position: right 10px center;
  background-size: 12px 18px;
 }
}
