/* Bootstrap Mixins */
@import "../scripts/libs/bootstrap/less/mixins.less";

.button-extra () {
  padding: 5px 10px;
  color: white;
  font-weight: 300;
  background-color: @button-highlight;
  border-radius: 4px;
}
