/*
 * All application-specific LESS mixins, sans Bootstrap mixins, are included in this file.
 * Only `main.less` and `mixins.less` should import this file directly.
 */

@import "mixins/prefixes.less";
@import "mixins/flexbox.less";

.social-button(@url: "images/social/mail.png") {
  font-size: 0;
  line-height: 2.4rem;
  background-image: url("@{url}");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 67%;
}

// Based on bootstrap's .button-variant() mixin
.button-variant(@color; @background) {
  padding: 5px 10px;
  font-weight: 300;
  vertical-align: baseline;
  color: @color;
  background-color: @background;
  border: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @color;
    background-color: darken(@background, 4%);
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: @background;
    }
  }
}

// Give elements that have a "publishing" status a green background color
.publishing() {
  &.publishing {
    opacity: 0.7;
    border-left: 2em solid @brand-info;
  }
}
