body {
  margin: 0;
}

.noscript-container {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
}

.noscript {
  position: absolute;
  left: 50%;
  width: 30rem;
  margin-left: -15rem;
}

p {
  margin-bottom: 0.5rem;
}