@import "../../../styles/variables.less";

.workspace {
  position: relative;
  margin: 40px 30px;

  > .workspace-btns {
    position: absolute;
    top: 1.2rem;
    right: 0;

    > .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  .recently-published {
    margin: 15px 0;
  }
}
