@import "../../../../styles/variables.less";

.search .header {
  position: relative;
  margin-bottom: 3rem;

  > .advanced-search {
    @media (max-width: @screen-xs-max) {
      display: block;
      margin-top: 1rem;
    }

    @media (min-width: @screen-sm-min) {
      position: absolute;
      top: 0.5rem;
      right: 3rem;
    }
  }

  > .help {
    position: absolute;
    top: 1.2rem;
    right: 0;
    color: @brand-primary;

    .fa-question-circle {
      font-size: 2rem;
      color: @brand-secondary;
      vertical-align: text-bottom;
      cursor: pointer;
    }

    .tips {
      vertical-align: middle;
    }
  }
}
