.popover {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);

  .popover-content {
    padding: 3px 0;
  }

  &.top > .arrow {
    bottom: -7px;
    left: 100%;
    border: none;

    &::after {
      border-width: 6px;
      border-bottom-width: 0;
    }
  }

  &.right > .arrow {
    left: -7px;
    top: 21px;
    border: none;

    &::after {
      border-width: 6px;
      border-left-width: 0;
    }
  }

  &.bottom > .arrow {
    top: -7px;
    left: 100%;
    border: none;

    &::after {
      border-width: 6px;
      border-top-width: 0;
    }
  }

  &.left {
    margin: 0 10px 0 0;

    > .arrow {
      right: -7px;
      top: 21px;
      border: none;

      &::after {
        border-width: 6px;
        border-right-width: 0;
      }
    }
  }
}
