@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-tabs {
  background-color: @gray-lightest;
  color: @brand-primary;

  > ul {
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 0;
    list-style-type: none;
    color: @link-color;
    border-bottom: 2px solid white;

    > li {
      display: inline-block;
      padding: 7px 10px;
      margin-right: 3px;
      font-size: 1.5rem;
      background-color: white;
      cursor: pointer;
      .user-select(none);

      > .tab-title {
        margin-left: 2px;
        vertical-align: middle;

        &::before {
          display: inline-block;
          margin-right: 5px;
          width: 17px;
          height: 17px;
          vertical-align: text-top;
          background-image: url(images/icons/contents.png);
          background-repeat: no-repeat;
          background-position: center center;
          content: "";
        }

        &::after {
          font-weight: bold;
          margin-left: 5px;
          vertical-align: top;
          content: "+";
        }
      }

      &.tools-tab > .tab-title::before {
        background-image: url(images/icons/tools.png);
      }

      &.reading-lists-tab > .tab-title::before {
        background-image: url(images/icons/lists.png);
      }

      &.active > .tab-title::after {
        content: "\2212"; // &minus; (−)
      }
    }

    > .inactive {
      #gradient.vertical(#fff; #ededed; 60%; 100%);
    }
  }

  > div {
    display: none;
    background-color: white;
  }
}
