@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-tabs {
  background-color: @gray-lightest;
  color: @brand-primary;

  > ul {
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 0;
    list-style-type: none;
    color: @link-color;
    border-bottom: 2px solid white;

    > li {
      display: inline-block;
      padding: 7px 10px;
      margin-right: 3px;
      font-size: 1.5rem;
      background-color: white;
      cursor: pointer;

      > .tab-title {
        margin-left: 2px;
        vertical-align: middle;
      }

      > .expand {
        font-weight: bold;
      }
    }

    > .inactive {
      #gradient.vertical(#fff; #ededed; 60%; 100%);
    }
  }

  > div {
    display: none;
    background-color: white;
  }
}
