@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-tabs {
  color: @brand-primary;

  &:not(.publishing) { background-color: @gray-lightest; }

  .publishing();

  > ul {
    margin: 0;
    padding: 0 0 0 3rem;
    font-size: 0;
    list-style-type: none;
    color: @link-color;
    border-bottom: 0.2rem solid white;

    > li {
      display: inline-block;
      padding: 0.7rem 1rem;
      margin-right: 0.3rem;
      font-size: 1.5rem;
      background-color: white;
      border-top: 0.1rem solid transparent;
      border-left: 0.1rem solid transparent;
      border-right: 0.1rem solid transparent;
      cursor: pointer;
      .user-select(none);

      &:focus {
        border-top: 0.1rem solid @brand-primary;
        border-left: 0.1rem solid @brand-primary;
        border-right: 0.1rem solid @brand-primary;
        outline: 0;
      }

      > .tab-title {
        margin-left: 0.2rem;
        vertical-align: middle;

        .fa {
          margin-right: 0.5rem;
          font-size: 1.6rem;
          vertical-align: middle;
        }

        &::after {
          font-weight: bold;
          margin-left: 0.5rem;
          vertical-align: top;
          content: "+";
        }
      }

      &.active > .tab-title::after {
        content: "\2212"; // &minus; (−)
      }
    }

    > .inactive {
      #gradient.vertical(#fff; #ededed; 60%; 100%);
    }
  }

  > div {
    display: none;
    background-color: white;
  }
}
