@import "../../../../styles/variables.less";

.search .results .list {
  h4 {
    font-weight: 400;
  }

  .type {
    min-width: 50px;
  }

  .title {
    min-width: 300px;
  }

  .author {
    min-width: 150px;
  }

  .edited {
    min-width: 115px;
  }
}
