@import "../../../../../styles/variables.less";

.search .results .list {
  caption {
    font-size: 2.1rem;
    color: @brand-primary;
    text-align: left;
  }

  thead .type {
    color: black;
  }

  .type {
    width: 60px;
    text-align: center;
    color: @brand-primary;

    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .authors {
    width: 165px;

    .author {
      display: block;
    }
  }

  .edited {
    width: 115px;

    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .pagination {
    display: table; // used to center the div
    margin: 20px auto;
    text-align: center;

    > ul {
      padding: 0;
      list-style-type: none;

      > li {
        display: inline-block;
        padding: 4px;
        font-size: 1.5rem;

        &.disabled {
          display: none; // Hide disabled prev/next buttons
        }

        &.active a {
          color: black;
          font-weight: bold;
          pointer-events: none; // Disable the active page's button
        }
      }
    }
  }
}
