@import "../../../../../styles/variables.less";

.search .results .list {
  caption {
    font-weight: bold;
  }

  thead .type {
    color: black;
  }

  .type {
    width: 60px;
    text-align: center;
    color: @brand-primary;
  }

  .authors {
    width: 165px;

    .author {
      display: block;
    }
  }

  .edited {
    width: 115px;
  }
}
