@import "../../../../../styles/variables.less";

.media-footer > .metadata {
  position: relative;

  > div > dl {
    margin-bottom: 0;

    > dt {
      padding: 10px 0;
      width: 225px;
      text-align: left;
      color: @gray-dark;
    }

    > dd {
      margin: 0;
      border-bottom: 1px solid @gray-lighter;

      &:last-child {
        border: none;
      }

      > div {
        padding: 10px 10px 10px 225px;

        > ul {
          padding: 0 0 0 15px;
        }
      }
    }
  }
}
