@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.workspace .results .list {
  margin-top: 4rem;

  table {
    table-layout: fixed;
    overflow: hidden;

    tbody {
      word-wrap: break-word;
    }

    caption {
      font-size: 2.1rem;
      color: @brand-primary;
      text-align: left;
    }

    thead .type {
      color: black;
    }
  }

  .type {
    width: 6rem;
    text-align: center;
    color: @brand-primary;
  }

  .status {
    width: 16.5rem;
  }

  .edited {
    width: 11.5rem;
  }

  .delete {
    width: 6rem;
  }

  td.delete {
    text-align: center;

    &:hover {
      cursor: pointer;

      i {
        color: @brand-danger;
      }
    }

    i {
      color: @gray-light;
    }
  }
}
