@import "../../../styles/variables.less";

@logo-width: 319px;
@logo-height: 157px;

#header {
    position: relative;
    height: @logo-height;
    overflow: hidden;

    .logo, .links {
        display: inline-block;
    }

    .logo {
        width: @logo-width;
        vertical-align: top;
    }

    .links {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: @logo-width;
        
    }

    .links .login {
        margin: 25px 25px 0 0;
        text-align: right;
        font-size: 0.9em;
        font-weight: 300;

        a:after {
            content: "|";
            padding: 0 5px 0 8px;
            color: @gray-lighter;
        }

        a:last-child:after {
            content: "";
            padding: 0;
        }

        .donate {
            padding: 5px 8px;
            background-color: rgb(120, 176, 74);
            color: white;
            border-radius: 4px;
        }
    }

    .links nav {
        display: table;
        width: 100%;
        margin-top: 60px;

        a {
            display: table-cell;
            padding: 5px 10px;
            color: @link-color;
            text-align: center;
            font-size: 1.1em;
            font-weight: 500;
        }

        .active {
            color: @link-active-color;
        }
        
        .rice {
            margin-bottom: 5px;
        }
    }
}
