@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-title {
  padding: 30px 30px 40px 30px;
  background-color: @gray-lightest;

  > h1 {
    display: inline-block;
    margin-right: 7%;
    width: 60%;
    overflow-wrap: break-word;
  }

  > .info {
    display: inline-block;
    margin-bottom: -60px;
    width: 32%;
    text-align: right;
    vertical-align: top;
    overflow-wrap: break-word;
    .user-select(none);

    > .collection-author a {
      &::after {
        content: ",";
      }

      &:last-of-type::after {
        content: "";
      }
    }

    > .share {
      margin-top: 35px;

      > .title {
        margin-right: 5px;
        font-size: 1.6rem;
        vertical-align: middle;
      }

      > ul {
        display: inline-block;
        padding: 0;
        list-style-type: none;

        > li {
          display: inline-block;
          height: 28px; // Same height as the circles
          vertical-align: middle;
          cursor: pointer;
        }
      }
    }
  }
}
