@import "../../../../../../../styles/variables.less";

.add-popover {
  color: black;

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;

    > li {
      padding: 3px 20px;
      font-weight: normal;

      &:hover,
      &:focus {
        text-decoration: none;
        color: @dropdown-link-hover-color;
        background-color: @dropdown-link-hover-bg;
      }
    }
  }
}
