@import "../../../../styles/variables.less";

.editbar .navbar > .container-fluid {
  max-width: @max-viewport-width;

  > .navbar-collapse {
    height: 1px;

    .navbar-btn {
      margin-top: 9px; // Override Bootstrap to vertically-align buttons
    }
  }
}
