@import "../../../../../../styles/variables.less";

#new-media-modal {
  label {
    width: 90%;

    > span {
      margin-right: 1.5rem;
    }

    > input {
      display: inline-block;
      width: 83.33%;
    }
  }
}
