@import "../../../../../../styles/variables.less";

#new-media-modal {
  label {
    width: 90%;

    > span {
      margin-right: 15px;
    }

    > input {
      display: inline-block;
      width: 83.33%;
    }
  }

  .alert {
    margin-left: 10px;
    margin-right:10px;
  }
}
