@import "../../../styles/variables.less";

@bar-height: 30px;

.find-content {
  display: -webkit-flex;
  display: flex;
  padding: 10px;
  color: @gray-lighter;
  background-color: @gray-dark;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  justify-content: center;

  @media screen and (max-width: @screen-tiny-max) {
    display: block;
  }

  a {
    color: @gray-lighter;
    text-decoration: none;
  }

  .dropdown-toggle {
    outline: none;
    background: transparent url(/images/icons/arrows-white.png) no-repeat 98% center;
  }

  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }

  h3, span {
    line-height: @bar-height;
    text-align: center;
  }

  h3 {
    color: @gray-lighter;
    -webkit-flex: 2 0 auto;
    flex: 2 0 auto;

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-bottom: 15px;
    }
  }

  span {
    margin: 0 15px;
    font-size: 1.4em;
    font-weight: 200;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;

    // Don't display on screens smaller than a tablet
    @media screen and (max-width: @screen-tiny-max) {
      display: none;
    }
  }

  input {
    height: @bar-height;
    padding-right: 37px;
    font-size: 1.2em;
    color: @gray-lighter;
    background: @gray-medium url(/images/icons/search-white.png) no-repeat 98% center;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-flex: 4 4 33%;
    flex: 4 4 33%;

    &::-webkit-input-placeholder { color: darken(@gray-lighter, 15%); }
    &::-moz-placeholder { color: darken(@gray-lighter, 15%); }
    &:-ms-input-placeholder { color: darken(@gray-lighter, 15%); }

    &:focus {
      border: 1px solid transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-bottom: 15px;
    }
  }

  .dropdown {
    position: relative;
    height: @bar-height;
    margin-right: 15px;
    font-size: 1.2em;
    color: @gray-lighter;
    background-color: @gray-medium;
    border-radius: 4px;
    -webkit-flex: 4 0 33%;
    flex: 4 0 33%;

    a {
      display: block;
      padding: 0 12px;
      font-weight: 300;
      line-height: @bar-height;
    }

    .dropdown-menu {
      width: 100%;
    }

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  /* Placeholder */
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: @gray-light;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: @gray-lighter;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: @gray-lighter;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: @gray-lighter;
  }
}
