@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

@bar-height: 30px;

.find-content {
  .flexbox();
  .flex-flow(row; nowrap);
  .justify-content(center);
  padding: 10px;
  color: @gray-lighter;
  background-color: @gray-dark;

  @media screen and (max-width: @screen-tiny-max) {
    display: block;
  }

  a {
    font-size: 1.6rem;
    color: @gray-lighter;
    text-decoration: none;
  }

  .dropdown-toggle {
    outline: none;
    background: transparent url(/images/icons/arrows-white.png) no-repeat 98% center;
  }

  .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
  }

  h3, span {
    line-height: @bar-height;
    text-align: center;
  }

  h3 {
    .flex(2; 0; auto);
    color: @gray-lighter;

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-bottom: 15px;
    }
  }

  span {
    .flex(1; 1; auto);
    margin: 0 15px;
    font-size: 1.4em;
    font-weight: 200;

    // Don't display on screens smaller than a tablet
    @media screen and (max-width: @screen-tiny-max) {
      display: none;
    }
  }

  input {
    .flex(4; 4; 33%);
    height: @bar-height;
    padding-right: 37px;
    font-size: 1.2em;
    color: @gray-lighter;
    background: @gray-medium url(/images/icons/search-white.png) no-repeat 98% center;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    box-shadow: none;

    &::-webkit-input-placeholder { color: darken(@gray-lighter, 15%); }
    &::-moz-placeholder { color: darken(@gray-lighter, 15%); }
    &:-ms-input-placeholder { color: darken(@gray-lighter, 15%); }

    &::-webkit-input-placeholder { color: darken(@gray-lighter, 15%); }
    &::-moz-placeholder { color: darken(@gray-lighter, 15%); }
    &:-ms-input-placeholder { color: darken(@gray-lighter, 15%); }

    &:focus {
      border: 1px solid transparent;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-bottom: 15px;
    }
  }

  .dropdown {
    .flex(4; 0; 33%);
    position: relative;
    height: @bar-height;
    margin-right: 15px;
    font-size: 1.2em;
    color: @gray-lighter;
    background-color: @gray-medium;
    border-radius: 4px;

    a {
      display: block;
      padding: 0 12px;
      font-weight: 300;
      line-height: @bar-height;
    }

    .dropdown-menu {
      width: 100%;
    }

    @media screen and (max-width: @screen-tiny-max) {
      display: block;
      margin-right: 0;
      margin-bottom: 5px;
    }
  }
}
