@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-footer > .attribution {
  ul > li {
    margin-bottom: 10px;
  }

  .name {
    &::after {
      content: ", ";
    }

    &:last-child::after {
      content: "";
    }
  }
}
