@import "../../../../../styles/variables.less";

.media-footer > .attribution {
  h3 {
    font-weight: 300;
  }

  dd, dt {
    display: inline;
  }

  dd {
    &::after {
      white-space: pre; // preserve line feed
      content: "\a"; // line feed
    }
  }
}
