@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-footer > .attribution {
  h3 {
    margin-bottom: 30px;
    font-weight: 300;
  }

  dd, dt {
    display: inline;
  }

  dd {
    &::after {
      white-space: pre; // preserve line feed
      content: "\a"; // line feed
    }
  }
}
