@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-tabs .tools {
  .columns(29rem; 3rem; 0.1rem solid @gray-lighter);
  margin-right: -0.1rem; // Hide 3rd column rule
  padding: 1.5rem;
  font-size: 1.5rem;

  .tool {
    .user-select(none);

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.media-tabs .tools-tab {
  @media (max-width: @screen-xs-max) {
    display: none;
  }
}
