@import "../../../styles/variables.less";

#role-acceptances {
  padding-top:20px;
  padding-bottom:20px;


  .pending {
    font-style: italic;
  }

  .hasRejected {
    text-decoration: line-through;
  }

}
