@import "../../../styles/variables.less";

#role-acceptances {
  padding-top:20px;
  padding-bottom:20px;

  .isPending {
    background: rgba(239, 141, 13, 0.8);
  }

  .isRejected {
    background: rgba(239, 13, 36, 0.8);
    text-decoration: line-through;
  }

  .isAccepted {
    background: rgba(120, 176, 74, 0.8);
  }

  .licenseInfo {
    padding-top: 10px;
    display: block;
  }

  .license {
    display: block;
    padding-bottom: 5px;
  }

}
