@import "../../../../../../styles/variables.less";
@import "../../../../../../styles/mixins.less";

.table-of-contents > .toc ul > li {
  border-bottom: 0.1rem solid @gray-lightest;

  q {
    display: block;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
  }
  a:hover {
    text-decoration: none;
  }
  .q-match {
    background-color: yellow;
  }

  &:last-child {
    border-bottom: none;
  }

  > div {
    display: inline-block; // Prevent links from spilling into multiple-columns
    width: 100%;
    padding: 0.5rem 0;

    // Add transparent borders to prevent jumping when DnD code adds a border
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;

    &.before {
      border-top: 0.3rem solid #6ea244;
    }

    &.after {
      border-bottom: 0.3rem solid #6ea244;
    }

    &.insert {
      background-color: rgba(110, 162, 68, 0.5);
    }

    > .name-wrapper {
      display: inline-block;
      width: 90%;
      vertical-align: middle;

      small {
        margin-left: 1rem;
        color: red;
      }

      .title {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

      .active {
        font-weight: bold;
        color: @brand-secondary;
      }
    }

    &[data-expandable="true"] {
      > .name-wrapper {
        width: 80%;
      }

      > .edit {
        width: 8%;
        text-align: right;
        vertical-align: middle;
        opacity: 0;
        cursor: pointer;
      }
    }

    > .remove {
      display: inline-block;
      width: 10%;
      color: red;
      vertical-align: middle;
      text-align: right;
      opacity: 0;
      cursor: pointer;
    }

    &[data-expandable="true"] .name-wrapper::before {
      content: "\25b8"; // ▸
    }

    &[data-expanded="true"] .name-wrapper::before {
      content: "\25be"; // ▾
    }

    &:hover > .remove, &:hover > .edit {
      opacity: 1;
    }
  }

  > ul {
    display: none; // Hide content of sections unless expanded
    font-size: 0.9em;

    &[data-expanded="true"] {
      display: block;
    }
  }
}
