@import "../../../../../../styles/variables.less";
@import "../../../../../../styles/mixins.less";

.media-tabs .contents .contents > .toc {
  ul {
    padding: 0 2rem;
    font-size: 1.25rem;
    list-style-type: none;

    li .chapter-number {
      font-weight: bold;
      color: @brand-primary;
      &::after {
        content: ".";
      }
    }
  }
}
