@import "../../../../../../styles/variables.less";
@import "../../../../../../styles/mixins.less";

.media-tabs .contents .contents > .toc {
  ul {
    padding: 0 2rem;
    font-size: 1.25rem;
    counter-reset: section;
    list-style-type: none;

    li .title:not([data-depth="0"]):not(.not-numbered)::before {
      display: inline-block;
      margin-right: 0.5rem;
      font-weight: bold;
      color: @brand-primary;
      counter-increment: section;
      content: counters(section, ".") "";
    }
  }
}
