@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

.page-footer {
  .make-row();
  margin: 0 !important; // override bootstrap css
  padding: 2rem;
  background-color: @gray-dark;
  color: @gray-lighter;
  font-size: 0.85em;
  text-align: center;

  a {
    color: @gray-lighter;
  }

  > .copyright {
    .make-sm-column(8);
    padding-right: 3rem;
    text-align: left;

    > div {
      margin: 0;
      padding: 0.8rem 0;
    }

    .cc-logo-link {
      margin-right: 1.5rem;
      float: left;
    }

    .horizontal {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        padding-right: 0.7rem;
        padding-left: 0.3rem;
        border-right: 0.1rem solid @link-active-color;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border-right: none;
        }
      }
    }

    /* Make the OER logo look like a button */
    .oer {
      border-radius: 0.4rem;
      background-color: white;
    }
  }

  > .share {
    @media (max-width: @screen-xs-max) {
      display: none;
    }

    .small-header {
      margin-top: 1.5rem;
      margin-bottom: 0.7rem;
      color: @gray-lighter;
      font-size: 1.7rem;
      font-weight: 400;
    }

    > ul {
      .flexbox();
      .flex-flow(row; wrap);
      .justify-content(center);
      max-width: 12rem;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;

      > li {
        .flex(1; 0; auto);
        margin: 0.5rem 0;
        margin-bottom: 0.2rem;
      }
    }
  }
}
