@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-header {
  padding: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid @gray-lighter;

  .publishing();

  > .derive, .edit {
    margin-top: 35px;
  }

  > .title {
    margin-top: 20px;
    overflow-wrap: break-word;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      display: inline-block;
      margin-right: 7%;
      width: 60%;
      text-align: left;
    }

    // When editing is turned on the Title becomes an input box; make sure it stretches
    input[type="text"] {
      width: 550px;
      text-overflow: ellipsis;
    }

    > span {
      display: block;
      margin-top: 5px;
    }
  }

  > .info {
    overflow-wrap: break-word;
    text-align: center;

    @media (min-width: @screen-sm-min) {
      display: inline-block;
      margin-top: 35px;
      width: 32%;
      text-align: right;
      vertical-align: top;
    }

    @media (max-width: @screen-xs-max) {
      margin-top: 5px;
    }

    // Align authors and mail image
    > span {
      vertical-align: middle;

      > a {
        vertical-align: middle;
      }
    }

    > .downloads {
      @media (max-width: @screen-xs-max) {
        display: none;
      }

      > .btn {
        margin: 0 0 20px auto;
      }
    }
  }

  > .summary {
    margin-top: 15px;

    h5 {
      .user-select(none);
      cursor: pointer;

      &::before {
        margin-right: .5rem;
        content: "\25b8"; // ▸
      }

      &.active::before {
        content: "\25be"; // ▾
      }
    }

    > .abstract {
      display: none; // Hide until the summary is toggled open

      @media (min-width: @screen-sm-min) {
        max-width: 67%;
      }

      > ul, > list {
        display: block;
        padding-left: 40px;
        margin-top: 10px;

        > li, > item {
          display: list-item;
          margin: 3px 0;
          color: @gray;
        }
      }
    }
  }
}
