@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

#license {
  margin: 4rem 2rem;

  h1, h2 {
    margin-bottom: 3rem;
  }

  h3, h4 {
    margin-bottom: 1.5rem;
  }

  dd {
    margin-left: 1.5rem;
    margin-bottom: 1em;
  }

  a {
    text-decoration: underline;
  }

  .documentDescription {
    font-weight: bold;
  }

  > .tos-wrapper {
    .make-row();

    > .tos-content {
      .make-sm-column(12);
    }
  }
}
