@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

#about {
  margin: 4rem 2rem;

  h1,
  h2 {
    margin-bottom: 3rem;
  }

  h3,
  h4 {
    margin-bottom: 1.5rem;
  }

  > .about-wrapper {
    .make-row();

    > .about-nav {
      .make-sm-column(3);

      @media screen and (max-width: @screen-xs-max) {
        margin-bottom: 3rem;
      }

      li {
        background-color: @gray-lighter;

        &.active {
          background-color: @gray-lightest;
        }

        a:hover {
          background-color: @gray-lightest;
        }
      }
    }

    > .about-content {
      .make-sm-column(9);
    }
  }
}
