@import "../../../../../../styles/variables.less";

.mail-popover {
  text-align: right;

  .header {
    text-align: left;

    h4, img {
      display: inline-block;
      vertical-align: middle;
    }

    h4 {
      margin-left: 5px;
    }

    small {
      display: block;
      margin: 10px 0;
      color: @gray;
    }
  }

  input[type="email"], textarea {
    margin-bottom: 10px;
    max-width: 100%;
    border: none;
    border-radius: 0;
    background-color: @gray-lightest;
    box-shadow: none;
  }

  .form-control {
    &:focus {
      border: none;
      box-shadow: none;
    }
  }
}
