@import "../../../styles/variables.less";

.featured-books {
    .make-row();
    // Override bootstrap css
    margin: 0 !important;
    overflow: hidden;
    
    .books {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .book {
        .make-column(6);
        display: none;

        img {
            float: left;
            margin-right: 20px;
            border: 0;
        }

        h4 {
            a {
                color: @link-color;
                font-weight: 300;
            }
        }

        p {
            color: @gray-dark;
            font-weight: 300;
        }
    }
    
    .book:after {
        visibility: hidden;
    	display: block;
        height: 0;
    	font-size: 0;
    	content: " ";
    	clear: both;
    }

    .book:first-child {
        display: block;
        padding-left: 0;
        padding-right: 15px;
    }

    .book:nth-child(2) {
        display: block;
        padding-left: 15px;
    }
}
