@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

#about .people {
  .make-row();

  > h1,
  > .foundations-wrapper,
  > .advisors-wrapper,
  > .team-wrapper {
    .make-xs-column(12);
  }

  .subheader-text {
    margin: -25px 0 30px 0;
  }

  .foundations,
  .avatars {
    .make-row();
  }

  .foundations {
    > .foundation {
      margin-bottom: 20px;
      .make-sm-column(6);

      img {
        max-width: 100%; // Ensure images fit within their container
      }
    }
  }

  .avatars {
    > .person {
      margin-bottom: 30px;

      @media screen and (max-width: @screen-xs-max) {
        text-align: center;
      }

      @media screen and (min-width: @screen-sm-min) {
        .make-sm-column(6);
      }

      @media screen and (min-width: @screen-md-min) {
        .make-md-column(4);
      }

      > .info {
        width: 200px;
        min-height: 202px;
        padding-bottom: 10px;
        text-align: left;
        background-color: @gray-dark;

        @media screen and (max-width: @screen-xs-max) {
          margin: 0 auto;
        }


        > .name {
          display: block;
          padding: 5px 0 0 5px;
          color: #fff;
          text-transform: uppercase;
        }

        > .title {
          display: block;
          padding-left: 10px;
          color: rgb(255, 160, 0);
          font-size: smaller;
          text-transform: lowercase;
        }
      }
    }
  }
}
