<div class="logo">
  <img src="http://placehold.it/319x157/ffffff/606668&text=OpenStax%20CNX" width="319" height="157" alt="OpenStax CNX"/>
</div>
<div class="links">
  <div class="login">
    <a href="/register">Sign Up</a>
    <a href="/login">Login</a>
    <a href="/help">Help</a>
    <a href="/donate" class="donate">Donate</a>
  </div>
  <nav>
    <a href="/" class="active">Home</a>
    <a href="/content">Content</a>
    <a href="/reading">Reading Lists</a>
    <a href="/about">About Us</a>
    <a href="/my">My OpenStax</a>
    <a href="http://www.rice.edu">
      <img src="http://www.rice.edu/_images/logo.jpg" alt="Rice University" width="90" height="43" />
    </a>
  </nav>
</div>
