@import "../../../../styles/variables.less";

.search .breadcrumbs {
  margin-bottom: 15px;
  
  .breadcrumb {
    display: inline-block;
    margin-right: 10px;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
