@import "../../../../../../../../../../styles/variables.less";

.add-page-search-results {
  td, h4 {
    color: black;
  }

  .add {
    width: 60px;
    text-align: center;
  }

  .authors {
    width: 165px;

    .author {
      display: block;
    }
  }

  .edited {
    width: 115px;
  }
}
