@import "../../../../../../../../../../styles/variables.less";

.add-page-search-results {
  td, h4 {
    color: black;
  }

  .add {
    width: 6rem;
    text-align: center;
  }

  .authors {
    width: 16.5rem;

    .author {
      display: block;
    }
  }

  .edited {
    width: 11.5rem;
  }
}
