@import "../../../../../styles/variables.less";

.add-page-search-results {
  caption {
    font-size: 2.1rem;
    color: @brand-primary;
    text-align: left;
  }

  td, h4 {
    color: black;
  }

  .add {
    width: 60px;
    text-align: center;
    color: @brand-primary;
  }

  .authors {
    width: 165px;

    .author {
      display: block;
    }
  }

  .edited {
    width: 115px;
  }
}
