@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-tabs .contents .contents > .toc ul > li {
  padding: 8px 0;
  border-bottom: 1px solid @gray-lightest;

  &:last-child {
    border-bottom: none;
  }

  > div {
    display: inline-block; // Prevent links from spilling into multiple-columns
    
    small {
      margin-left: 10px;
      color: red;
    }

    .title {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .active {
      font-weight: bold;
      color: @brand-secondary;
    }
  }

  > ul {
    display: none; // Hide content of subcollections unless expanded
    font-size: 0.9em;
  }
}
