@import "../../../../../styles/variables.less";
@import "../../../../../styles/mixins.less";

.media-tabs .contents .contents > .toc {
  > div {
    width: 100%;

    > .name-wrapper {
      display: inline-block;
      width: 90%;
      vertical-align: middle;
    }

    > .remove {
      display: inline-block;
      width: 10%;
      color: red;
      text-align: right;
      vertical-align: middle;
      cursor: pointer;
    }
  }

  ul {
    padding: 0 20px;
    font-size: 1.25rem;
    counter-reset: section;
    list-style-type: none;

    li .title:not([data-depth="0"])::before {
      display: inline-block;
      margin-right: 5px;
      font-weight: bold;
      color: @brand-primary;
      counter-increment: section;
      content: counters(section, "-") ".";
    }
  }
}
