@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-header {
  margin: 0 60px;
  padding-bottom: 30px;
  min-height: 129px;
  border-bottom: 1px solid @gray-lighter;

  > .title {
    display: inline-block;
    margin-top: 35px;
    margin-right: 7%;
    width: 60%;
    overflow-wrap: break-word;

    // When editing is turned on the Title becomes an input box; make sure it stretches
    input[type="text"] {
      width: 700px;
      text-overflow: ellipsis;
    }

    > span {
      display: block;
      margin-top: 5px;
    }
  }

  > .info {
    display: inline-block;
    margin-top: 35px;
    width: 32%;
    text-align: right;
    vertical-align: top;
    overflow-wrap: break-word;

    // Align authors and mail image
    > span {
      vertical-align: middle;

      > a {
        vertical-align: middle;
      }
    }

    .btn {
      margin: 0 0 20px auto;
    }
  }

  > .summary {
    margin-top: 15px;

    h5 {
      .user-select(none);
      cursor: pointer;

      &::before {
        margin-right: .5rem;
        content: "\25b8"; // ▸
      }

      &.active::before {
        content: "\25be"; // ▾
      }
    }

    > .abstract {
      display: none; // Hide until the summary is toggled open
      max-width: 67%;

      > ul, > list {
        display: block;
        padding-left: 40px;
        margin-top: 10px;

        > li, > item {
          display: list-item;
          margin: 3px 0;
          color: @gray;
        }
      }
    }
  }
}
