@import "../../../../styles/variables.less";
@import "../../../../styles/mixins.less";

.media-header {
  margin: 0 60px;
  padding-bottom: 30px;
  min-height: 129px;
  border-bottom: 1px solid @gray-lighter;

  > h2 {
    display: inline-block;
    margin-top: 35px;
    max-width: 67%;
  }

  > .info {
    display: inline-block;
    margin-top: 35px;
    float: right;
    text-align: right;

    > span {
      vertical-align: middle;
      
      > a {
        vertical-align: middle;
      }
    }

    .btn {
      margin: 0 0 20px auto;
    }

    > .module-author a {
      &::after {
        content: ",";
      }

      &:last-of-type::after {
        content: "";
      }
    }
  }

  > .summary {
    margin-top: 15px;

    h5 {
      .user-select(none);
      cursor: pointer;

      &::before {
        margin-right: .5rem;
        content: "\25b8"; // ▸
      }

      &.active::before {
        content: "\25be"; // ▾
      }
    }

    > .abstract {
      display: none; // Hide until the summary is toggled open
      max-width: 67%;

      > ul, > list {
        display: block;
        padding-left: 40px;
        margin-top: 10px;

        > li, > item {
          display: list-item;
          margin: 3px 0;
          color: @gray;
        }
      }
    }
  }
}
