@import "variables.less";

#footer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    background-color: rgb(51, 51, 51);
    color: rgb(194, 194, 194);
    font-size: 0.85em;
    padding: 20px;

    .box {
        -webkit-flex: 1 0 auto;
        flex: 1 0 auto;
        padding: 0 20px;
        text-align: center;

        > div {
            padding: 5px 0;
            margin: 0;
        }
    }

    .box:first-child {
        -webkit-flex: 4 1 50%;
        flex: 4 1 50%;
        text-align: left;

        img {
            float: left;
            margin-right: 10px;
        }
    }

    .box:nth-child(2) {
        border-left: 1px solid @link-active-color;
        border-right: 1px solid @link-active-color;
    }

    header {
        font-size: 1.4em;
        margin-bottom: 7px;
    }

    a {
        color: @link-color-light;
    }

    ul {
         list-style-type: none;
         padding: 0;

         li {
             margin-bottom: 2px;
         }
    }

    .horizontal {
        display: inline-block;
        margin: 0;

        li {
            display: inline-block;
            padding-right: 5px;
            border-right: 1px solid @link-active-color;
        }

        li:last-child {
            border-right: none;
        }
    }

    .grid {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        justify-content: center;
        max-width: 75px;
        margin: 0 auto;

        li {
            -webkit-flex: 1 0 auto;
            margin: 3px 0;
        }
    }
}
