/* Bootstrap Variables */
@import "../scripts/libs/bootstrap/less/variables.less";

/* Mixins */
@import "mixins.less";

@screen-tiny-max:       (@screen-small - 1);

@gray-medium:           #606163;
@gray-lighter:          gainsboro;

@brand-primary:         #21366b;
@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);
@link-active-color:     #67676b;
