/* Bootstrap Variables */
@import "../scripts/libs/bootstrap/less/variables.less";

/* Mixins */
@import "mixins.less";

@gray-medium:           #606163;

@brand-primary:         #21366b;
@link-color:            @brand-primary;
@link-hover-color:      darken(@link-color, 15%);
@link-active-color:     #67676b;
@link-color-light:      gainsboro;
