@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

.role-acceptances {
  .make-sm-column(12);

  > h3 {
    margin-top: 3rem;

    a {
      text-decoration: underline;
    }
  }

  table {
    table-layout: fixed;

    td {
      vertical-align: middle !important; // override bootstrap
    }

    th:first-child {
      width: 14rem;
    }

    @media screen and (max-width: @screen-xs-max) {
      th:last-child, td:last-child {
        display: none;
      }
    }
  }

  .accept, .reject {
    margin: 0 1rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: @gray-light;

    &:hover {
      cursor: pointer;
    }
  }

  .accept {
    &.selected {
      color: @brand-secondary;
    }

    &:hover {
      color: @brand-secondary;
    }
  }

  .reject {
    &.selected {
      color: @brand-danger;
    }

    &:hover {
      color: @brand-danger;
    }
  }

  .license-info {
    display: block;
    padding-top: 1rem;
  }

  .license {
    display: block;
    padding-bottom: 0.5rem;
  }

  .submit {
    margin-top: 2rem;
  }
}
