@import "../../../../../styles/variables.less";

.search .results .breadcrumbs {
  margin-bottom: 1.5rem;

  @media (max-width: @screen-xs-max) {
    display: none;
  }

  .breadcrumb {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0 1rem 1rem 1rem;

    &:last-child {
      margin-right: 0;
    }

    &:hover .remove {
      opacity: 1;
    }

    .remove {
      position: absolute;
      top: -1rem;
      left: -1rem;
      padding: 0.4rem;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      color: @gray-lightest;
      background-color: @gray-dark;
      opacity: 0;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    .limit, .value {
      display: inline-block;
      padding: 0.8rem 1.5rem;
    }

    .limit {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem;
      background-color: rgba(red(@brand-highlight), green(@brand-highlight), blue(@brand-highlight), 0.5);
    }
  }
}
