@import "../../../../styles/variables.less";

.search .advanced {
  position: relative;
  margin: 6rem auto;
  width: 75%;

  @media screen and (max-width: @screen-xs-max) {
    width: 90%;
  }

  h1 {
    margin-bottom: 3rem;
  }

  .help {
    position: absolute;
    top: 1.2rem;
    right: 0;
    color: @brand-primary;

    .fa-question-circle {
      font-size: 2rem;
      color: @brand-secondary;
      vertical-align: text-bottom;
      cursor: pointer;
    }

    .tips {
      vertical-align: middle;
    }
  }

  form {
    @media (min-width: @screen-sm-min) {
      padding: 4.5rem 3rem;
      border-radius: 0.4rem;
      border: 0.1rem solid @gray-lighter;
    }

    label {
      display: block;
    }

    .form-group:last-child {
      margin-bottom: 0;
    }

    button {
      @media screen and (max-width: @screen-xs-max) {
        width: 100%;
      }
    }
  }
}
