@import "../../../styles/variables.less";
@import "../../../styles/mixins.less";

.featured-books {
  .make-row();
  margin: 0 !important; // Override bootstrap css
  overflow: hidden;

  > h2 {
    padding-bottom:20px;
  }

  > .books {
    position: relative;
    width: 100%;
    overflow: hidden;

    > .book {
      .make-sm-column(6);
      display: none;
      margin-bottom: 30px; // Add spacing between books when they're aligned vertically

      &::after {
      	display: block;
        height: 0;
        clear: both;
      	font-size: 0;
      	content: " ";
        visibility: hidden;
      }

      &:first-child, &:nth-child(2) {
        display: block;
      }

      &:nth-child(2n+1) {
        padding-right: 15px;
        padding-left: 0;
      }

      &:nth-child(2n) {
        padding-left: 15px;
      }

      @media screen and (max-width: @screen-xs-max) {
        padding-left: 0 !important; // Override bootstrap css
      }

      img {
        float: left;
        margin-right: 20px;
        border: 0;
      }

      h4 {
        margin-bottom: 10px;

        a {
          font-weight: 300;
          color: @link-color;
        }
      }

     .read-more {
       position:absolute;
       bottom:10px;
       right:20px;

       > :after {
         content: '▸';
         margin-left:5px;
       }
     }

      p {
        font-weight: 300;
        color: @gray-dark;
      }
    }
  }
}
